<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--加载jdbc属性文件-->
    <properties resource="jdbc.properties"/>

    <!--给实体类定义别名-->
    <typeAliases>
        <!--给指定的类定义指定的别名-->
        <!--<typeAlias type="com.yyf.beans.Student" alias="Stu"/>-->
        <!--给指定包下所有的类起别名，默认别名为该类的简单类名-->
        <package name="org.example.domain"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <!--<environment id="oracle">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>-->
    </environments>
    <mappers>
        <!--注册映射文件-->
        <!--
            resource一般加载的是内部资源映射文件
        -->
        <!--<mapper resource="com/yyf/dao/mapper.xml"/>-->
        <!--url一般加载项目的外部资源-->
        <!--<mapper url=""/>-->
        <!--
            1.映射文件和对应的接口在同一个包下
            2.映射文件的名称必须和接口的简单类名相同
            3.映射文件中namespace的值必须是对应接口的全限定性类名
        -->
        <!--<mapper class="com.yyf.dao.IStudentDao"/>-->
        <!--
            1.映射文件和对应的接口在同一个包下
            2.映射文件的名称必须和接口的简单类名相同
            3.映射文件中namespace的值必须是对应接口的全限定性类名
            4.(可以不满足)使用动态mapper
        -->
        <package name="org.example.dao"/>
        <package name="org.example.dao.MybatiesDao01"/>
<!--        <mapper resource="org/example/dao/MybatiesDao01.xml"></mapper>-->
    </mappers>
</configuration>